body {
    padding-top: 17%;
    padding-bottom: 10%;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
}

.header img {
    display: block;
    margin: 0 auto;
    width: 50%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: courier;
    font-size: 50px;
    font-weight: bold;
}

/* navigation bar */
.navigation-bar {
    position: fixed;
}

.navigation-bar ul {
    list-style-type: none;
    margin-top: 13%;
    padding: 0;
    overflow: hidden;    
    background-color: darkgray;
}

.navigation-bar li {
    float: left;
}

.navigation-bar li a, .menu-drophead {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-weight: bold;
}

.navigation-bar li a:hover, .menu-dropdown:hover .menu-drophead {
    background-color: black;
}

.navigation-bar li a:hover:not(.active), .menu-dropdown:hover:not(.active) .menu-drophead {
    background-color: black;
}

.navigation-bar li.menu-dropdown {
    display: block;
}

.navigation-bar {
    position: fixed;
    width: 100%;
    height: 300px;
    top: 0;
    z-index: 2;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: darkgray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-dropdown-content a {
    color: white;
    font-weight: normal;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-dropdown-content menu-a:hover {
    background-color: darkgray;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.menu-active {
    background-color: darkgreen;
}

/** the main body of the text */
.main-section {
    width: 100%;
}
