
.small-caps {
    font-variant: small-caps;
}

.nav-fonts {
    font-size: 2rem;
}

.nav-fonts-small {
    font-size: 1.25rem;
}

.nav-borders {
    margin-bottom: 1rem;
}

.py-10 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  
.my-10 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}
  
.small-h1 {
    font-size: calc(0.95rem + 0.75vw);
}

