header, footer {
    background-color: lightgreen;
}

#intro {
    background-color: rgb(235, 185, 185);
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

#canvas-main-div {
    margin-top: 5%;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 5% 1fr;
    grid-template-rows: 1fr;
}

#canvas-main {
    width: 100%;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#selections {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2; 
    display: grid;
    grid-template-columns: 6% 41% 6% 41% 6%;
    grid-template-rows: repeat(6, 5% 1fr);
}

#circle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


#oval {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
#square {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#rectangle {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

#line {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}

#canvas-details-div {
    border: 1px solid blue;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 13;
} 

#circle-details {
    display: none;
}

#oval-details {
    display: none;
}